<!DOCTYPE html>
<html>
<head>
    <title>Coordonnées de livraison</title>
    <!-- Link Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Your custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
	
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <div class="container">
	        <a class="navbar-brand" href="#">Coordonnées de livraison</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item">
	                    <a class="nav-link" href="MenuPizza.html">Menu Pizza</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="MenuBoisson.html">Menu Boisson</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="Affiche.jsp">Commande</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
	
    <div class="container">
        <form action="http://localhost:8082/Project/Commander" method="post">
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" class="form-control" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="adresse">Adresse:</label>
                <input type="text" class="form-control" id="adresse" name="adresse" required>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
    
    <!-- Footer -->
	<footer>
	    <p>&copy; 2023 Badreddine Melek & Abbes Cherif</p>
	</footer>

    <!-- Link Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
